In [65]:
import pandas as pd
import datetime as dt
folder = 'KaggleFiles/'
file = 'Meteorite_Landings_forexcel.csv'

landings = pd.read_csv(folder+file)
landings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  object
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 2.3+ MB

Remove nametype field:

In [66]:
landings.drop('nametype',inplace=True,axis=1)
landings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   recclass     45716 non-null  object
 3   mass (g)     45585 non-null  object
 4   fall         45716 non-null  object
 5   year         45425 non-null  object
 6   reclat       38401 non-null  float64
 7   reclong      38401 non-null  float64
 8   GeoLocation  38401 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 2.1+ MB

Make 0 default for no mass

In [67]:
landings[landings['mass (g)'].isna()]
landings['mass (g)'].fillna(0,inplace=True)
landings[landings['mass (g)'].isna()]

Empty DataFrame
Columns: [name, id, recclass, mass (g), fall, year, reclat, reclong, GeoLocation]
Index: []

Store data from each decade in its own data sheet in Excel

In [68]:
year_list = []

print(landings.year)
# landings['year_filled'] = landings['year'].fillna('01/01/0000 12:00:00 AM')

# for entry in landings['year_filled']:
#     year_list.append(int(entry[6:10]))

0        01/01/1880 12:00:00 AM
1                 1/1/1951 0:00
2                 1/1/1952 0:00
3                 1/1/1976 0:00
4                 1/1/1902 0:00
                  ...
45711             1/1/1990 0:00
45712             1/1/1999 0:00
45713             1/1/1939 0:00
45714             1/1/2003 0:00
45715             1/1/1976 0:00
Name: year, Length: 45716, dtype: object