In [2]:
import pandas as pd
folder = 'KaggleFiles/'

In [7]:
ratings = pd.read_csv(folder+'ratings.csv')
cuisines = pd.read_csv(folder+'chefmozcuisine.csv')
parking = pd.read_csv(folder+'chefmozparking.csv')
users = pd.read_csv(folder+'userprofile.csv')
ratings_final = pd.read_csv(folder+'rating_final.csv')

Figure out columns in each dataset.

In [9]:
print('Ratings')
ratings.info()
print('Cuisines')
cuisines.info()
print('Parking')
parking.info()
print('Users')
users.info()
print('Rating Final')
ratings_final.info()
print(ratings_final[ratings_final.])

Ratings
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981756 entries, 0 to 981755
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   book_id  981756 non-null  int64
 1   user_id  981756 non-null  int64
 2   rating   981756 non-null  int64
dtypes: int64(3)
memory usage: 22.5 MB
Cuisines
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   placeID   916 non-null    int64
 1   Rcuisine  916 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.8+ KB
Parking
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   placeID      702 non-null    int64
 1   parking_lot  702 non-null    object
dtypes: int64(1), object(1)
memory usage: 8.3+ KB
Users
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   userID            138 non-null    object
 1   latitude          138 non-null    float64
 2   longitude         138 non-null    float64
 3   smoker            138 non-null    object
 4   drink_level       138 non-null    object
 5   dress_preference  138 non-null    object
 6   ambience          138 non-null    object
 7   transport         138 non-null    object
 8   marital_status    138 non-null    object
 9   hijos             138 non-null    object
 10  birth_year        138 non-null    int64
 11  interest          138 non-null    object
 12  personality       138 non-null    object
 13  religion          138 non-null    object
 14  activity          138 non-null    object
 15  color             138 non-null    object
 16  weight            138 non-null    int64
 17  budget            138 non-null    object
 18  height            138 non-null    float64
dtypes: float64(3), int64(2), object(14)
memory usage: 13.0+ KB
Rating Final
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userID          1161 non-null   object
 1   placeID         1161 non-null   int64
 2   rating          1161 non-null   int64
 3   food_rating     1161 non-null   int64
 4   service_rating  1161 non-null   int64
dtypes: int64(4), object(1)
memory usage: 40.9+ KB

Merge Cuisines to rating final

In [10]:
merged_ratings_cuisine = ratings_final.merge(cuisines,how='inner',on='placeID')
merged_ratings_cuisine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1043 entries, 0 to 1042
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userID          1043 non-null   object
 1   placeID         1043 non-null   int64
 2   rating          1043 non-null   int64
 3   food_rating     1043 non-null   int64
 4   service_rating  1043 non-null   int64
 5   Rcuisine        1043 non-null   object
dtypes: int64(4), object(2)
memory usage: 48.9+ KB

Now take merged table and get all the stuff...
average rating, average food rating, average service rating, minimum food rating, minimum service rating, maximum service rating

In [14]:
aggregates = merged_ratings_cuisine.agg({'rating':['median'],'food_rating':['min'],'service_rating':['min','max']})
print(aggregates)

        rating  food_rating  service_rating
max        NaN          NaN             2.0
median     1.0          NaN             NaN
min        NaN          0.0             0.0

Payment methods preferred by social drinkers

In [23]:
userpayment = pd.read_csv(folder+'userpayment.csv')
userprofile = pd.read_csv(folder+'userprofile.csv')
print(userpayment.columns)
print(userprofile['drink_level'].value_counts())

# find payment methods of socail drinkers
payment_profile_merged = userprofile.merge(userpayment,how='inner',on='userID')
payment_profile_merged.groupby('drink_level')['Upayment'].describe()

Index(['userID', 'Upayment'], dtype='object')
abstemious        51
casual drinker    47
social drinker    40
Name: drink_level, dtype: int64

               count unique   top freq
drink_level
abstemious        63      5  cash   47
casual drinker    58      4  cash   46
social drinker    56      4  cash   38

Cuisines preferred by eco-friendly users?

In [34]:
userprofile.info()
userpayment.info()
usercuisine = pd.read_csv(folder+'usercuisine.csv')
usercuisine.info()
print(userprofile.interest.value_counts())

profile_cuisine_merged = userprofile.merge(usercuisine,how='inner',on='userID')
profile_cuisine_merged.groupby('interest')['Rcuisine'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   userID            138 non-null    object
 1   latitude          138 non-null    float64
 2   longitude         138 non-null    float64
 3   smoker            138 non-null    object
 4   drink_level       138 non-null    object
 5   dress_preference  138 non-null    object
 6   ambience          138 non-null    object
 7   transport         138 non-null    object
 8   marital_status    138 non-null    object
 9   hijos             138 non-null    object
 10  birth_year        138 non-null    int64
 11  interest          138 non-null    object
 12  personality       138 non-null    object
 13  religion          138 non-null    object
 14  activity          138 non-null    object
 15  color             138 non-null    object
 16  weight            138 non-null    int64
 17  budget            138 non-null    object
 18  height            138 non-null    float64
dtypes: float64(3), int64(2), object(14)
memory usage: 13.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   userID    177 non-null    object
 1   Upayment  177 non-null    object
dtypes: object(2)
memory usage: 1.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   userID    330 non-null    object
 1   Rcuisine  330 non-null    object
dtypes: object(2)
memory usage: 2.6+ KB
variety         50
technology      36
none            30
eco-friendly    16
retro            6
Name: interest, dtype: int64

             count unique       top freq
interest
eco-friendly    44     29   Mexican   12
none            34     11   Mexican   19
retro            6      6  American    1
technology      77     30   Mexican   29
variety        169    103   Mexican   36